#aside2{
	height: 100%;
	width: 24%;
	float:right;
	border-radius: 1em;
	border-style: solid;
	border-color: black;
}
.noticias2{
    margin: 4px;
    padding: 0.2em;
    height: 48%;
    border-style: solid;
    border-color: yellowgreen;
      
  }
  .publicidad{
    margin: 4px;
    padding: 0.2em;
    height: 46%;
  }

      